@import "../general/variables.scss";

.audio__on-icon {
  position: fixed;
  top: 15px;
  right: 11px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.audio__off {
  position: fixed;
  top: 19px;
  right: 19px;
  width: 7px;
  height: 14px;
  background-color: $color-white;
  content: "";
}