@import "../general/variables.scss";

.audio__icon {
  border: none;
  background-color: transparent;
  position: fixed;
  top: 15px;
  right: 16px;
}

.audio__on,
.audio__off {
  background-color: transparent;
  border: none;
  cursor: pointer;
}