@import "../general/variables.scss";

.contact {
  text-decoration: none;
  color: $color-black;
  font-size: 13px;
  position: relative;
  bottom: 99px;
  left: 234px;
  padding: 6px 8px;

  @media (min-width: $mobile-width) {
    font-size: 15px;
    left: 270px;
    bottom: 102px;
  }

  @media (min-width: $tablet-width) {
    font-size: 15px;
    bottom: 142px;
    left: 368px;
  }

  &:hover {
    background-color: rgba(195, 192, 168, 0.948);
  }

  &:active {
    background-color: rgba(169, 166, 144, 0.948);
  }
}