@import "../general/variables.scss";

.list {
  list-style: none;
  font-size: 13px;
  line-height: 16px;
  padding-left: 30px;

  &--links {
    margin-top: 300px;
    margin-bottom: 0;
  }

  &--social {
    margin-top: 50px;
    margin-bottom: 100px;
  }

  @media (min-width: $mobile-width) {
    font-size: 15px;
    line-height: 18px;
    padding-left: 50px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 102px;

    &--links {
      margin-bottom: 0;
    }

    &--social {
      margin-top: 60px;
      padding-bottom: 40px;
    }
  }
}

.list a {
  text-decoration: none;
  color: $color-black;

  &:hover {
    text-decoration: underline;
  }
}