@import "../general/variables.scss";

.list {
  list-style: none;
  font-size: 13px;
  line-height: 16px;
  padding-left: 30px;

  &--links {
    padding-top: 100px;
    margin-bottom: 0;
  }

  &--social {
    margin-top: 50px;
    padding-bottom: 50px;
  }

  @media (min-width: $mobile-width) {
    font-size: 15px;
    line-height: 18px;
    padding-left: 46px;
  }

  @media (min-width: $tablet-width) {
    margin-left: 92px;

    &--links {
      padding-top: 120px;
    }

    &--social {
      margin-top: 60px;
      padding-bottom: 90px;
    }
  }
}

.list a {
  text-decoration: none;
  color: $color-black;

  &:hover {
    opacity: 0.5;
  }
}