@import "../general/variables.scss";

.picture__first-pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 320px;
    height: 463px;
    margin: 0 auto;
  }
}

.picture__second-pic {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    width: 320px;
    margin: 0 auto;
    padding: 250px 0 0 0;
  }
}