@import "../general/variables.scss";

.play-button {
  width: 25px;
  height: 25px;
  position: fixed;
  top: 20px;
  right: 20px;
  filter: blur(8px);
  -webkit-filter: blur(8px);

  @media (min-width: $tablet-width) {
    width: 28px;
    height: 28px;
    top: 22px;
    right: 22px;
  }
}