@import "./variables.scss";

* {
  touch-action: none;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  font-family: 'Inter', sans-serif;
  background-color: $color-bg;
}

/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} */