// general
@import "./general/base.scss";
@import "./general/variables.scss";

// blocks
@import "./blocks/page.scss";
@import "./blocks/list.scss";
@import "./blocks/audio.scss";
@import "./blocks/picture.scss";
@import "./blocks/contact.scss";
@import "./blocks/play-button.scss";